@page
@model FlavorLink.WebApp.Pages.Recipes.CreateModel
@{
	ViewData["Title"] = "Create";
	var imagePath = "~/images/no-image.jpg";
}
<h1>Create Recipe</h1>

<form method="post">
	
	<div class="form-group row" name="Recipe.Id">

		<label class="col-sm-2 col-form-label">Name: </label>		
	
		<div class="col-sm-10">			
			<input asp-for="Recipe.Name" class="form-control" placeholder="Name of Recipe" />
			<span asp-validation-for="Recipe.Name" class="text-danger"></span>
		</div>

	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label" placeholder="Preparation Method">Preparation</label>
		<div class="col-sm-10">
			<input asp-for="Recipe.PrepMethod" class="form-control" placeholder="Preparation Method" />
		</div>
	</div>


	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Difficulty</label>
		<div class="col-sm-10">
			<div class="dropdown">			
				<select name="Recipe.Difficulty" id="Recipe.Difficulty" class="btn btn-primary">
					@for (int i = 1; i <= 10; i++)
					{
						<option value="@i">@i</option>
					}
				</select>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">Rating</label>
		<div class="col-sm-10">
			<div class="dropdown">
				<select name="Recipe.Rating" id="Recipe-Rating" class="btn btn-primary">
					@for (int i = 1; i <= 5; i++)
					{
						<option value="@i">@i</option>
					}
				</select>
			</div>
		</div>
	</div>

	<div>
		<img class="imageThumbnail" src="@imagePath" asp-append-version="true" style="width: 300px; height: auto;" />
	</div>

	<div class="form-group row">

		<div class="col-sm-10">
			<input asp-for="Image" class="form-control" />
			<label>Click to change the picture</label>
		</div>
	</div>

	<div>
		<button type ="submit" class="btn btn-primary m-1">Create Recipe</button>
	
		<a asp-page="/Recipes/Index" class="btn btn-danger m-1">Cancel </a>
	</div>
</form>




